body {
	margin:0;
	padding:0;
}

#map {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	right:0;
	bottom:0;
}

#params {
	position: absolute;
	width:350px;
	z-index: 200;
	background-color: #fff;
	padding:10px 10px 0 10px;
	right:10px;
	top:60px;
	box-sizing: border-box;
	border-radius: 5px;
}

#params li {
	list-style: none;
	margin: 0;
	box-sizing: border-box;
	padding: 0 0 20px 0;
}

#params li input[type=range] {
	display: block;
	clear: both;
	box-sizing: border-box;
	padding-left: 40px;
	width: 100%;
}

.guidiv{
	position:absolute;
	width:100px;height:30px;
	z-index: 100;
	padding:10px 10px 10px 10px
}

#debug {
	position: absolute;
	right: 300px;
	top: 10px;
	z-index: 100;
}

#metrics {
	position: absolute;
	width:200px;
	height:200px;
	z-index: 200;
	background-color: #fff;
	padding:20px;
	left:10px;
	bottom: 10px;	
	border-radius: 5px;
}

#metrics table{
	font-size: 10pt;
}

#clickStatus { 
	color: #000000; 
	background: #FFFFFF; 
	margin: 5px;
	top: 5px;
	right: 5px;
	left: 5px;
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 100000;
	position: absolute;
	border-radius: 5px;
}


#div_g .dygraph-label { font-family: Georgia, Verdana, serif; }

#div_g .dygraph-title { font-size: 8px; text-shadow: gray 2px 2px 2px; }

#div_g .dygraph-ylabel { font-size: 10px; text-shadow: gray -2px 2px 2px; }

#div_g .dygraph-axis-label { font-size: 10px; text-shadow: gray -2px 2px 2px; }

#div_g .dygraph-legend { 
	font-size: 10px !important; 
	text-shadow: 
	gray -2px 2px 2px; }

.chart { 
	/*border: 1px dashed black; */
	margin: 5px 5px 5px 5px; 
	padding: 0px; 
	position: relative; 	
	width: 200px; 
	height: 60px; 
	background-color: #FFFFFF;
	z-index: 200;
}