body {
	margin:0;
	padding:0;
}

#map {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	right:0;
	bottom:0;
}

#params {
	position: absolute;
	width:200px;
	height:400px;
	z-index: 200;
	background-color: #fff;
	padding:20px;
	right:20px;
	top:20px;	
}

.guidiv{
	position:absolute;
	width:100px;height:30px;
	z-index: 100;
	padding:10px 10px 10px 10px
}

#debug {
	position: absolute;
	right: 300px;
	top: 10px;
	z-index: 100;
}